<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Reports</title>
</head>
<body style="text-align: center">
    <h1 >Medical Reports</h1>
    <a href="/medicalReports/add/medical" ><button >Add</button></a>
    <br>
    <table border="3" style="margin: 20px auto">
        <thead style="text-align: center;">
            <tr>
                <td>ID</td>
                <td>Diagnostic</td>
                <td>Treatment</td>
                <td>Cost</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody style="text-align:left">
            <% medical.forEach(x => { %> 
            <tr>
                <td><%= x.id %></td>
                <td><%= x.diagnosis %></td>
                <td><%= x.treatment %></td>
                <td><%= formatter(x.cost) %></td>
                <td>
                   <a href="/medicalReports/<%= x.id %>"><button>Update</button></a> 
                    <a href="/medicalReports/deleteMedical/<%= x.id %>" ><button>Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table> 
    
</body>
</html>